# Xmake cache
.xmake/
build/
.cache/

# MacOS Cache
.DS_Store

# Development tools
.vscode/
.idea/

compile_commands.json

compiler/lexer/flex_lexer.cpp
compiler/parser/bison_parser.cpp
compiler/parser/bison_parser.hpp
compiler/parser/location.hh

.ninja_deps
.ninja_log

cmake-build-debug/