profile = conventional

leading-nested-match-parens = false
space-around-variants = false
space-around-arrays = false
space-around-lists = false
space-around-records = false
break-infix = fit-or-vertical
break-separators = after
break-cases = fit-or-vertical
break-collection-expressions=wrap
exp-grouping = preserve
let-and = sparse
type-decl = sparse
if-then-else=k-r
function-indent=2
cases-exp-indent = 2
extension-indent=2
indent-after-in=2
let-binding-indent=2
match-indent=0
match-indent-nested=always
cases-exp-indent=2